<%- include('../partials/header') %>

<h1>Skills</h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <form action="/skills/<%= s.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= s.id %>">
        <li>
          <%= s.skill %>
            - 
          <%= s.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>

<%- include('../partials/footer') %>