<%- include('../partials/header') %>

<h1>skills</h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <form action="/skills/<%= s.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button id='done' type="submit">X</button>
      </form>
      <a id='skillitems' href="/skills/<%= s.id %>">
        <li>
          <%= s.skill %>
            - 
          <%= s.done ? 'mastered' : 'learning' %>
      </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>